[Unit]
Description=Display colour temperature adjustment
PartOf=graphical-session.target
After=graphical-session.target NetworkManager-wait-online.service

[Service]
ExecStart=%h/home/n30/.config/gammastep-wrapper.sh

[Install]
WantedBy=graphical-session.target