[Unit]
Description=Display colour temperature adjustment
PartOf=graphical-session.target
After=graphical-session.target NetworkManager-wait-online.service

[Service]
ExecStart=%h ~/.config/gammastep-wrapper.sh

[Install]
WantedBy=graphical-session.target